<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <aspNetCore>
        <environmentVariables xdt:Transform="InsertIfMissing" />
        <environmentVariables>
          <environmentVariable xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="ASPNETCORE_ENVIRONMENT" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Stage" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
	
<system.webServer xdt:Transform="Replace">
	<httpProtocol>
		<customHeaders>
			<clear />
			<add name="X-UA-Compatible" value="IE=Edge" />
			<add name="X-FRAME-OPTIONS" value="ALLOW-FROM https://stagebi.ncua.gov" />
		</customHeaders>
	</httpProtocol>
</system.webServer>
</configuration>