<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace">

	<targets>

		<target name="logfile" xsi:type="File" fileName="Logs\PostSharp_${shortdate}.log"
			maxArchiveFiles="60" keepFileOpen ="false" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="Logs\PostSharp__${#######}.a" />

		<target xsi:type="EventLog"
		   name="apiEventlog"
		   machineName="."
		   eventId="${event-properties:EventId:whenEmpty=0}"
		   layout="${message}${newline}${exception:format=ToString}"
		   source="CUDC.Api"
		   log="CUDC.Api" />

		<target name="SecurityLog" xsi:type="EventLog"
				layout="${message}" log="Application" source="CUDC" eventId="555"/>

		<target name="ApplicationLog" xsi:type="EventLog"
				layout="${message}" log="Application" source="CUDC" eventId="556"/>

		<target xsi:type="File" name="fileTarget" filename="Logs\${shortdate}.txt"
			maxArchiveFiles="60" keepFileOpen ="false" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="Logs\${#######}.a"/>

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="apiEventlog, logfile" />
		<logger name="SecurityLog" minlevel="Trace" writeTo="SecurityLog" final="true" />
		<logger name="ApplicationLog" minlevel="Trace" writeTo="ApplicationLog" final="true" />
		<logger levels="Error,Fatal,Info" name="fileLogger" writeTo="fileTarget" />
	</rules>
</nlog>