<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="col-2">
                <span class="logo"></span>
            </div>
            <div class="col-8 text-center">
                <a class="navbar-brand" routerLink="/">Credit Union Data Collection (CUDC)</a>
                <em class="omb-no">(OMB No. 3133-0205)</em>
            </div>
            <div class="col-2">
                <span class="username" *ngIf="userRole">{{userRole.userId}}</span>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        <router-outlet></router-outlet>
    </main>
</div>

<footer class="page-footer footer-font border-top pt-4">
    <div class="container">
        <div class="text-center">
            National Credit Union Administration, 1775 Duke Street, Alexandria, VA 22314<br />
            <em>{{version}}</em>
        </div>
    </div>
</footer>