<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header"><strong>SURVEYS</strong></div>
            <div class="card-body">
                <a routerLink="/admin/surveys">Click here</a> to create/edit surveys, and view survey responses.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header"><strong>TAKE CUDC SURVEY</strong></div>
            <div class="card-body">
                <a routerLink="/admin/survey">Click here</a> to take current CUDC survey.
            </div>
        </div>
    </div>   
</div>
<br />
<div class="row">   
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header"><strong>MANAGE SURVEY</strong></div>
            <div class="card-body">
                <a routerLink="/admin/manage">Click here</a> to unlock and transfer ownership of a CAT/SE/DOS survey.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header"><strong>RADAR VIEW</strong></div>
            <div class="card-body">
                <a routerLink="/admin/radar-view">Click here</a> to see what RADAR users see.
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">  
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header"><strong>SEARCH USER</strong></div>
            <div class="card-body">
                <a routerLink="/admin/search-user">Click here</a> to search for CUDC users.
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>